* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Syne, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Syne, sans-serif;
  font-weight: 400;
  line-height: 1;
}

button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
